.maintenance {
  height: calc(100vh - 80px);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.maintenance__header {
  text-align: center;
  color: #fff;
}

.rainbow {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #c23434), color-stop(0.15, #d73fd7), color-stop(0.3, #2f2fd3), color-stop(0.45, #33d0d0), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
  color: transparent;
  -webkit-background-clip: text;
  animation: animatedBackground 60s linear infinite;
  -moz-animation: animatedBackground 60s linear infinite;
  -webkit-animation: animatedBackground 60s linear infinite;
  -ms-animation: animatedBackground 60s linear infinite;
  -o-animation: animatedBackground 60s linear infinite;
}

/* Animation rainbow background */
@keyframes animatedBackground {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 6000px;
  }
}

@-moz-keyframes animatedBackground {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 6000px;
  }
}

@-webkit-keyframes animatedBackground {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 6000px;
  }
}

@-ms-keyframes animatedBackground {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 6000px;
  }
}

@-o-keyframes animatedBackground {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 6000px;
  }
}
