.modal__container {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 98;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 98;
  background: rgba(47, 47, 53, 0.7);
  text-align: center;
}

/* Information Modal */

.modal__info {
  padding: 20px;
  border-radius: 4px;
  background-color: rgba(36, 37, 47, 1);
  border: 1px solid rgba(51, 53, 65, 1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  max-width: 400px;
  border-radius: 4px;
  line-height: 1.2;
  z-index: 99;
}

.modal__info--header {
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__info--header--heading {
  margin-bottom: 4px;
  color: #E9B10B;
  font-size: 32px;
  font-weight: 700;
}

.modal__info--body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.modal__info--body--text {
  color: #f2f2f2;
  font-size: 18px;
  font-weight: 500;
  width: 90%;
}

.modal__info--body--button {
  display: block;
  outline: none;
  border: none;
  min-width: 120px;
  text-align: center;
  text-decoration: none;
  color: #141419;
  background-color: #E9B10B;
  font-size: 16px;
  font-weight: 700;
  box-shadow: inset 0 -3px 0 0 #cc6c31;
  padding: 12px 16px;
  transition: background-color .2s ease;
  border-radius: 4px;
}

.modal__info--body--button:hover {
  cursor: pointer;
  background-color: #f5c432;
}

.modal__info--body--discord {
  color: #5865F2;
  text-decoration: none;
  font-weight: 700;
}

/* Form Modal */

.modal__form {
  padding: 20px;
  border-radius: 4px;
  background-color: rgba(36, 37, 47, 1);
  border: 1px solid rgba(51, 53, 65, 1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  position: relative;
  z-index: 99;
}

.modal__form--close {
  position: absolute;
  top: 16px;
  right: 4px;
  color: #fff;
}

.modal__form--header {
  text-align: center;
  line-height: 1.5;
}

.modal__form--header--heading {
  color: #E9B10B;
  font-size: 32px;
  font-weight: 700;
}

.modal__form--body--form {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.modal__form--body--form--icon {
  color: #fff;
}

#login-email, #login-password {
  background-color: #141419;
  border: 2px solid rgba(51, 53, 65);
  border-radius: 4px;
  padding-right: 12px;
}

.modal__form--body--form--username, .modal__form--body--form--email, .modal__form--body--form--password, .modal__form--body--form--code {
  padding: 12px 16px;
  background-color: #141419;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  border: none;
}

.modal__form--body--form--submit {
  margin-top: 8px;
  display: block;
  outline: none;
  border: none;
  min-width: 120px;
  text-align: center;
  text-decoration: none;
  color: #141419;
  background-color: #E9B10B;
  font-size: 16px;
  font-weight: 700;
  box-shadow: inset 0 -3px 0 0 #cc6c31;
  padding: 12px 16px;
  transition: background-color .2s ease;
  border-radius: 4px;
  margin-bottom: 8px;
}

.modal__form--body--form--submit:hover {
  cursor: pointer;
  background-color: #f5c432;
}

.modal__form--body--password--link {
  color: #fff;
  text-decoration: none;
}

.modal__form--body--form--input {
  background-color: #141419;
  border: 2px solid rgba(51, 53, 65);
  border-radius: 4px;
  padding-right: 12px;
}